#:datamos{:logistic {{} {:dmscfg-def/rcpt-queue "config.datamos-fn", :dms-def/transmit :dms-def/recipient}, :dmsfn-def/config+dms-fn+c476a6a3-094f-4105-aa3f-b25823c79210 {:dmsfn-def/module-type :dmsfn-def/core, :dmsfn-def/module-name :dmsfn-def/config, :rdf/type :dmsfn-def/module, :dms-def/transmit :dms-def/sender}, :dms-def/message #:dms-def{:subject :datamos-fn/registration, :message-id :datamos-id/msg-id+fa0ec148-16e2-44f7-b811-5760cf10bd2f}}, :rdf-content #:datamos{:prefix {}, :triples #:dmsfn-def{:config+dms-fn+c476a6a3-094f-4105-aa3f-b25823c79210 {:dmsfn-def/module-type :dmsfn-def/core, :dmsfn-def/module-name :dmsfn-def/config, :rdf/type :dmsfn-def/module, :dms-def/requires :datamos-fn/registry, :rdfs/label "config", :dms-def/function :dmsfn-def/config, :dms-def/provides #{:datamos-fn/de-register :datamos-fn/registration :datamos-fn/registry}}}}}