#:datamos{:logistic {{} {:dmscfg-def/rcpt-queue "config.datamos-fn", :dms-def/transmit :dms-def/recipient}, :dmsfn-def/config+dms-fn+aef49868-6905-4732-b2da-b9347b6968d7 {:dmsfn-def/module-type :dmsfn-def/core, :dmsfn-def/module-name :dmsfn-def/config, :rdf/type :dmsfn-def/module, :dms-def/transmit :dms-def/sender}, :dms-def/message #:dms-def{:subject :datamos-fn/registration, :message-id :datamos-id/msg-id+16123769-e063-4d4f-a382-40d79daf18f9}}, :rdf-content #:datamos{:prefix {}, :triples #:dmsfn-def{:config+dms-fn+aef49868-6905-4732-b2da-b9347b6968d7 {:dmsfn-def/module-type :dmsfn-def/core, :dmsfn-def/module-name :dmsfn-def/config, :rdf/type :dmsfn-def/module, :dms-def/requires :datamos-fn/registry, :rdfs/label "config", :dms-def/function :dmsfn-def/config, :dms-def/provides #{:datamos-fn/de-register :datamos-fn/registration :datamos-fn/registry}}}}}