#:datamos{:logistic {{} {:dmscfg-def/rcpt-queue "config.datamos-fn", :dms-def/transmit :dms-def/recipient}, :dmsfn-def/config+dms-fn+37cb8981-7b9e-4958-bcca-e56de805560a {:dmsfn-def/module-type :dmsfn-def/core, :dmsfn-def/module-name :dmsfn-def/config, :rdf/type :dmsfn-def/module, :dms-def/transmit :dms-def/sender}, :dms-def/message #:dms-def{:subject :datamos-fn/registration, :message-id :datamos-id/msg-id+cd289cef-f962-44e4-8d86-8540a847ab6b}}, :rdf-content #:datamos{:prefix {}, :triples #:dmsfn-def{:config+dms-fn+37cb8981-7b9e-4958-bcca-e56de805560a {:dmsfn-def/module-type :dmsfn-def/core, :dmsfn-def/module-name :dmsfn-def/config, :rdf/type :dmsfn-def/module, :dms-def/requires :datamos-fn/registry, :rdfs/label "config", :dms-def/function :dmsfn-def/config, :dms-def/provides #{:datamos-fn/de-register :datamos-fn/registration :datamos-fn/registry}}}}}